@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #5aadbb;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
}
.header-title {
  flex: 1;
  font-size: 1.5rem;
  margin: 1rem;
}
.header-date {
  flex: 1;
  text-align: right;
  margin: 1rem;
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #cf4646;
  color: white;
}
.title-h1 {
  font-weight: 300;
  font-size: 4rem;
  margin: 1rem;
}
.title-logo {
  height: 12rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}
.title-h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: .5rem;
}

.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}

mat-sidenav {
  width: 200px;
}

.toolbar-container{
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.toolbar-menu-items{
  display: flex;
  flex-direction: row;
}
.toolbar-item{
  margin: 5px 10px;
  font-weight: normal;
  font-size: 0.8em;
}
.toolbar-item:hover {
  color: #ffc42a;
  border-bottom: 1px inherit solid; 
}
.toolbar-logo{
  height: 100%;
  width: auto;
}
.toolbar-text{
  font-size: 1.2em;
}

.toolbar-list-item{
  margin: 5px 10px;
  font-weight: normal;
  font-size: 0.8em;
  color: blue;
}
.toolbar-list-item:hover {
  color: #ffc42a;
  border-bottom: 1px inherit solid; 
}

.hand-cursor{
  cursor: pointer;
}

.main-container{
  height: 800px;
}

.about-container{
  height: 800px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}